{% extends 'base.html' %} {% block title %}Raydex Coding Hub - Courses{%
endblock %} {% block content %}
<div class="container mt-5">
  <h2 class="text-center mb-5">Available Courses</h2>
  <div class="courses">
    {% for course in courses %}
    <div class="course-card col-md-4 mx-auto">
      <img
        src="{{ url_for('static', filename='images/' + course.image) }}"
        alt="{{ course.title }}"
      />
      <div class="course-content">
        <h3 class="course-title">{{ course.title }}</h3>
        <p class="course-description">{{ course.description[:100] }}...</p>
        <div class="course-meta">
          <span class="course-price">GHS{{ course.price }}</span>
          <a href="/course/{{ course.id }}" class="btn btn-login">Enroll Now</a>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
