{% extends "base.html" %} {% block content %}
<div class="container my-5">
  <h2 class="text-center mb-4">Profile Settings</h2>
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="card shadow">
        <div class="card-body">
          <div class="text-center mb-4">
            <img
              src="https://ui-avatars.com/api/?name={{ current_user.username }}&background=2ecc71&color=fff"
              alt="Profile"
              class="rounded-circle me-2"
              style="width: 32px; height: 32px"
            />
            <div class="mt-3">
              <a
                for="profile_picture"
                href="/dashboard"
                class="btn btn-outline-primary"
                >Go back to dashboard</a
              >
            </div>
          </div>
          <form method="POST">
            <div class="mb-3">
              <label for="username" class="form-label">Username</label>
              <input
                type="text"
                class="form-control"
                id="username"
                name="username"
                value="{{ current_user.username }}"
                required
              />
            </div>
            <div class="mb-3">
              <label for="email" class="form-label">Email</label>
              <input
                type="email"
                class="form-control"
                id="email"
                name="email"
                value="{{ current_user.email }}"
                required
              />
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
