{% extends "base.html" %} {% block title %}Login - Raydex Coding Hub{% endblock
%} {% block content %}
<style>
  .fas {
    position: absolute;
    right: 0;
    top: 15px;
    color: #4caf50;
  }
</style>
<div class="login-container">
  <div class="login-card">
    <h1>Set New Password</h1>
    <form method="POST">
      <div class="input-group">
        <input type="password" id="password" name="password" required />
        <label for="password">Password</label>
        <i
          onclick="togglePassword()"
          id="password-toggle-icon"
          class="fas fa-eye"
        ></i>
      </div>
      <div class="input-group">
        <input
          type="password"
          id="confirm_password"
          name="confirm_password"
          required
        />
        <label for="confirm_password">Comfirrm Password</label>
        <i
          onclick="togglePassword()"
          id="password-toggle-icon"
          class="fas fa-eye"
        ></i>
      </div>

      <button class="btn btn-login" type="submit">Reset password</button>
    </form>
  </div>
</div>
<script>
  function togglePassword() {
    const passwordInput = document.getElementById("password");
    const icon = document.getElementById("password-toggle-icon");

    if (passwordInput.type === "password") {
      passwordInput.type = "text";
      icon.classList.remove("fa-eye");
      icon.classList.add("fa-eye-slash");
    } else {
      passwordInput.type = "password";
      icon.classList.remove("fa-eye-slash");
      icon.classList.add("fa-eye");
    }
  }
</script>
{% endblock %}
